<mat-card>
  <mat-card-title>{{question?.text}}</mat-card-title>
  <mat-card-content>

    <mat-form-field *ngIf="question?.type === 'long_text'" class="form-content">
      <mat-label for="answer">Your answer...</mat-label><input matInput type="text" formControlName="fc" />
    </mat-form-field>

    <mat-radio-group *ngIf="question?.type === 'multiple_choice'" formControlName="fc" class="form-content">
      <mat-radio-button *ngFor="let choice of question.choices" [value]="choice">
        {{choice}}
      </mat-radio-button>
    </mat-radio-group>

  </mat-card-content>
</mat-card>
