<ng-content></ng-content>

<div class="content">
  <h1>{{questionnaire?.title}}</h1>
  <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">

    <div *ngFor="let item of questions">
      question
      <mat-card>
        <mat-card-title>{{item.text}}</mat-card-title>
        <mat-card-content>
            {{item.id}}
            {{item.text}}
            {{item.type}}
            {{item.choices}}
        </mat-card-content>
      </mat-card>
    </div>

    <div class="submitbutton">
      <button mat-raised-button color="accent">Send</button>
    </div>

  </form>
</div>
