h1 {
    margin-left: 15vw;
}
.submitbutton {
    margin-top: 3vh;
    margin-left: auto;
    margin-right: 10vw;

    padding: 1vh;

    display: flex;
    justify-content: right;
}

mat-card {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.form-content {
    display: flex;
    flex-direction: column;

    padding-left: 5vw;
    padding-right: 5vw;
}